:root {
  --dark-cyan: #3c8067;
  --cream: #f2ebe3;
  --dark-blue: #1c232b;
  --dark-grayish-blue: #6c7289;
  --white: #ffffff;

  --title: 700 2rem 'Fraunces', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
  font-family: 'Montserrat', serif;
}

.container {
  max-width: 600px;
  display: flex;
  margin: 175px auto;

  & > img {
    width: 300px;
    height: 450px;
    border-radius: 20px 0 0 20px;
  }

  & .content {
    background-color: var(--white);
    border-radius: 0 20px 20px 0;
    padding: 30px 0 0 30px;

    & > span {
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: 400;
      color: var(--dark-grayish-blue);
    }

    & > h1 {
      margin-top: 20px;
      font: var(--title);
      max-width: 200px;
    }

    & > p {
      margin-top: 1rem;
      font-size: 0.875rem;


    }
  }
}
