:root {
  --dark-cyan: #3c8067;
  --cream: #f2ebe3;
  --dark-blue: #1c232b;
  --dark-grayish-blue: #6c7289;
  --white: #ffffff;

  --title: 700 2rem 'Fraunces', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
  font-family: 'Montserrat', serif;
  max-height: 100vh;
}

.container {
  width: 600px;
  display: flex;
  margin: 100px auto;

  & > img {
    width: 300px;
    height: 450px;
    border-radius: 20px 0 0 20px;
  }

  & .content {
    background-color: var(--white);
    border-radius: 0 20px 20px 0;
    padding: 30px 10px 10px 30px;
    width: 280px;

    & > span {
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: 400;
      color: var(--dark-grayish-blue);
    }

    & > h1 {
      margin-top: 20px;
      font: var(--title);
      max-width: 200px;
    }

    & > p {
      margin-top: 1rem;
      font-size: 0.875rem;
      color: var(--dark-grayish-blue);
      max-width: 25ch;

    }

    & .price{
      display: flex;
      gap: 20px;
      align-items: center;
      margin-top: 2rem;

      & > span {
        font-size: 2rem;
        color: var(--dark-cyan);
        font-weight: bold;
        font-family: 'Fraunces', serif;
      }

      & > small{
        text-decoration:line-through;
      }
    }

    & > button {
      margin-top: 2rem;
      padding: 15px 55px;
      border-radius: 5px;
      background-color: var(--dark-cyan);
      border: none;
      color: var(--white);
    }
  }
}
