section.hero{
  max-width: 80rem;
  width: 100%;
  padding: 2.5rem 2rem;
  margin-inline: auto;

  h1 div {
    display: inline-block;
    overflow: hidden;
    height: 5rem;
    width: min-content;
    vertical-align: bottom;
  }
}